In [2]:
import numpy as np 
import pandas as pd
import json

In [3]:
df = pd.read_excel('../../PASSENGER_RECORD.xlsx')

In [4]:
df

,PR_ID,PPID,TRAIN_TYPE,TRAIN_CODE,BOARD_DATE,BOARD_TIME,ARRIVAL_DATE,ARRIVAL_TIME,START_STA,ARRIVAL_STA,TRAVEL_TIME,TRAVEL_LENGTH,SEAT_TYPE,COACH_NO,SEAT_NO,BUYYER_PID
0,236365,210302199212143008,D,D15,2012-03-08,19:04:00,2012-03-08,20:04:00,盘锦北,沈阳北,01:00:00,154,GD,4,79,210302199212143008
1,236366,210302199212143008,D,D22,2012-03-12,08:01:00,2012-03-12,09:01:00,沈阳北,盘锦北,01:00:00,154,GD,13,87,210302199212143008
2,236367,210302199212143008,D,D102,2012-03-12,18:42:00,2012-03-12,19:42:00,盘锦北,沈阳北,01:00:00,154,GD,12,21,210302199212143008
3,236368,210302199212143008,D,D164,2012-03-01,08:03:00,2012-03-01,09:03:00,沈阳北,盘锦北,01:00:00,154,GD,6,19,210302199212143008
4,236369,210302199212143008,O,1052,2012-03-01,20:13:00,2012-03-01,21:13:00,盘锦北,沈阳北,01:00:00,154,YZ,11,51,210302199212143008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
985754,768334,211103199402110016,O,4229,2012-05-04,03:21:00,2012-05-04,03:21:00,辽阳,营口,00:00:00,115,YZ,5,36,211103199402110016
985755,768335,211103199402110016,O,K7369,2012-05-21,17:07:00,2012-05-21,19:07:00,营口,抚顺北,02:00:00,244,RZ,5,54,211103199402110016
985756,768336,211103199402110016,O,K7369,2012-05-26,18:37:00,2012-05-27,02:37:00,苇子沟,营口,08:00:00,1024,ZP,9,72,211103199402110016
985757,768337,211103199402110016,O,K7369,2012-06-19,12:44:00,2012-06-19,12:44:00,鞍山,营口,00:00:00,90,RZ,16,72,211103199402110016
985758,768338,211103199402110016,O,K7369,2012-06-04,11:59:00,2012-06-04,17:59:00,营口,蛟河,06:00:00,740,YZ,15,74,211103199402110016

In [5]:
df.dropna(axis=0, how='any', inplace=True)

In [6]:
# change start sta and arrival sta into ID
start_stations = df['START_STA'].unique()
arrival_stations = df['ARRIVAL_STA'].unique()
stations = list(set(start_stations).union(set(arrival_stations)))
idx = [i for i in range(len(stations))]
seg = zip(stations, idx)
station_dict = dict(seg)
df['start_station'] = df['START_STA'].map(station_dict)
df['arrival_station'] = df['ARRIVAL_STA'].map(station_dict)
df

,PR_ID,PPID,TRAIN_TYPE,TRAIN_CODE,BOARD_DATE,BOARD_TIME,ARRIVAL_DATE,ARRIVAL_TIME,START_STA,ARRIVAL_STA,TRAVEL_TIME,TRAVEL_LENGTH,SEAT_TYPE,COACH_NO,SEAT_NO,BUYYER_PID,start_station,arrival_station
0,236365,210302199212143008,D,D15,2012-03-08,19:04:00,2012-03-08,20:04:00,盘锦北,沈阳北,01:00:00,154,GD,4,79,210302199212143008,102,210
1,236366,210302199212143008,D,D22,2012-03-12,08:01:00,2012-03-12,09:01:00,沈阳北,盘锦北,01:00:00,154,GD,13,87,210302199212143008,210,102
2,236367,210302199212143008,D,D102,2012-03-12,18:42:00,2012-03-12,19:42:00,盘锦北,沈阳北,01:00:00,154,GD,12,21,210302199212143008,102,210
3,236368,210302199212143008,D,D164,2012-03-01,08:03:00,2012-03-01,09:03:00,沈阳北,盘锦北,01:00:00,154,GD,6,19,210302199212143008,210,102
4,236369,210302199212143008,O,1052,2012-03-01,20:13:00,2012-03-01,21:13:00,盘锦北,沈阳北,01:00:00,154,YZ,11,51,210302199212143008,102,210
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
985754,768334,211103199402110016,O,4229,2012-05-04,03:21:00,2012-05-04,03:21:00,辽阳,营口,00:00:00,115,YZ,5,36,211103199402110016,332,108
985755,768335,211103199402110016,O,K7369,2012-05-21,17:07:00,2012-05-21,19:07:00,营口,抚顺北,02:00:00,244,RZ,5,54,211103199402110016,108,159
985756,768336,211103199402110016,O,K7369,2012-05-26,18:37:00,2012-05-27,02:37:00,苇子沟,营口,08:00:00,1024,ZP,9,72,211103199402110016,378,108
985757,768337,211103199402110016,O,K7369,2012-06-19,12:44:00,2012-06-19,12:44:00,鞍山,营口,00:00:00,90,RZ,16,72,211103199402110016,338,108
985758,768338,211103199402110016,O,K7369,2012-06-04,11:59:00,2012-06-04,17:59:00,营口,蛟河,06:00:00,740,YZ,15,74,211103199402110016,108,99

In [7]:
# extract every subgraph into json files 
def mapping_stations_relative_id(df):
    start_stations = df['START_STA'].unique()
    arrival_stations = df['ARRIVAL_STA'].unique()
    stations = list(set(start_stations).union(set(arrival_stations)))
    idx = list(range(len(stations)))
    seg = zip(stations, idx)
    stations_dict = dict(seg)
    df['start_relative_station'] = df['START_STA'].map(stations_dict)
    df['arrival_relative_station'] = df['ARRIVAL_STA'].map(stations_dict)
    return df

In [8]:
rets = df.groupby('PPID').apply(mapping_stations_relative_id)

In [13]:
# dataframe to json
def construct_edges(df):
    df['edges'] = [[i,j] for (i,j) in zip(df['start_relative_station'], df['arrival_relative_station'])]
    return df

In [15]:
json_df = rets.groupby('PPID').apply(construct_edges)
json_df

,PR_ID,PPID,TRAIN_TYPE,TRAIN_CODE,BOARD_DATE,BOARD_TIME,ARRIVAL_DATE,ARRIVAL_TIME,START_STA,ARRIVAL_STA,...,TRAVEL_LENGTH,SEAT_TYPE,COACH_NO,SEAT_NO,BUYYER_PID,start_station,arrival_station,start_relative_station,arrival_relative_station,edges
0,236365,210302199212143008,D,D15,2012-03-08,19:04:00,2012-03-08,20:04:00,盘锦北,沈阳北,...,154,GD,4,79,210302199212143008,102,210,15,5,"[15, 5]"
1,236366,210302199212143008,D,D22,2012-03-12,08:01:00,2012-03-12,09:01:00,沈阳北,盘锦北,...,154,GD,13,87,210302199212143008,210,102,5,15,"[5, 15]"
2,236367,210302199212143008,D,D102,2012-03-12,18:42:00,2012-03-12,19:42:00,盘锦北,沈阳北,...,154,GD,12,21,210302199212143008,102,210,15,5,"[15, 5]"
3,236368,210302199212143008,D,D164,2012-03-01,08:03:00,2012-03-01,09:03:00,沈阳北,盘锦北,...,154,GD,6,19,210302199212143008,210,102,5,15,"[5, 15]"
4,236369,210302199212143008,O,1052,2012-03-01,20:13:00,2012-03-01,21:13:00,盘锦北,沈阳北,...,154,YZ,11,51,210302199212143008,102,210,15,5,"[15, 5]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
985754,768334,211103199402110016,O,4229,2012-05-04,03:21:00,2012-05-04,03:21:00,辽阳,营口,...,115,YZ,5,36,211103199402110016,332,108,13,28,"[13, 28]"
985755,768335,211103199402110016,O,K7369,2012-05-21,17:07:00,2012-05-21,19:07:00,营口,抚顺北,...,244,RZ,5,54,211103199402110016,108,159,28,22,"[28, 22]"
985756,768336,211103199402110016,O,K7369,2012-05-26,18:37:00,2012-05-27,02:37:00,苇子沟,营口,...,1024,ZP,9,72,211103199402110016,378,108,2,28,"[2, 28]"
985757,768337,211103199402110016,O,K7369,2012-06-19,12:44:00,2012-06-19,12:44:00,鞍山,营口,...,90,RZ,16,72,211103199402110016,338,108,21,28,"[21, 28]"
985758,768338,211103199402110016,O,K7369,2012-06-04,11:59:00,2012-06-04,17:59:00,营口,蛟河,...,740,YZ,15,74,211103199402110016,108,99,28,9,"[28, 9]"

In [86]:
# split dataframe by groupby
json_dfs = [x for _, x in json_df.groupby('PPID')]

In [139]:
PPID_dict = {}
for i in range(len(json_dfs)):
    PPID_dict[f'{i}'] = json_dfs[i].iloc[0,1]

with open('../PPID_dict.json', 'w') as f:
    json.dump(PPID_dict, f)

In [124]:
# create json dicts and save json files
for i in range(len(json_dfs)):
    json_dict = {}
    json_dict['edges'] = list(json_dfs[i]['edges'])
    features_df = json_dfs[i][['start_relative_station', 'arrival_relative_station']].apply(pd.value_counts).fillna(0)
    features_df['stations_frequency'] = (features_df['start_relative_station'] + features_df['arrival_relative_station']).astype('int').astype('str')
    features_df.index = features_df.index.astype('str')

    json_dict['features'] = features_df['stations_frequency'].to_dict()
    with open(f'../dataset/{i}.json', 'w') as result_file:
        json.dump(json_dict, result_file)